@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #00c6fb, #005bea);
}

body{
	margin: 0 auto;
	padding: 0;
}

h1, h2, h3, p{
	margin: 0 auto;
	padding: 0;
}

.first_bg{
	background-image: url(images/bg2.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	display: block;
	min-width: 100%;
	min-height: 810px;
	position: relative;
	color: white;
}

.logo{
	width: 5%;
	margin: 1.5% 0 0 8%;
	padding: 0;
	font-family: 'Righteous', cursive;
	font-weight: bold;
	font-size: 20px;
	position: absolute;
}

.phone{
	display: inline;
	position: absolute;
	margin: 1.5% 0 0 80%;
	font-size: 20px;
	color: #DAA520;
	font-family: 'Righteous', cursive;
}

h1{
	padding-top: 150px;
	text-align: center;
	font-size: 50px;
	width: 70%;
	font-family: 'Righteous', cursive;
	font-weight: normal;
}

.first_text{
	font-family: 'Righteous', cursive;
	font-size: 25px;
	margin: 50px auto 35px;
	text-align: center;	
}

.first_numbers{
	text-align: center;
}
.rectangle_first{
	display: inline-block;
	margin-left: 10%;
	padding-top: 2%;
}
.rectangle_second{
	display: inline-block;
	position: relative;
	vertical-align:auto;
	margin-left: 5%;
	margin-right: 5%;
}
.rectangle_third{
	display: inline-block;
	margin-right: 10%;
}
.rect_in{
	position: absolute;
	margin-top: -150px;
}
.number{
	margin: 15px 65%;
	text-align: center;
	font-size: 50px;
	font-family: 'Righteous', cursive;
}
.number_one{
	margin: 15px 80%;
	text-align: center;
	font-size: 50px;
	font-family: 'Righteous', cursive;
}
.rect_text{
	font-family: 'Righteous', cursive;
	font-size: 20px;
	text-align: center;
	width: 100%;
	margin: 0 50%;
}

